[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restplus = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
marshmallow = "*"
marshmallow_enum = "*"
marshmallow-sqlalchemy = "*"
mysql-connector-python = "*"
PyJWT = "*"
SQLAlchemy-Utils = "*"
webargs= "*"




[requires]
python_version = "3.7"
